<div id="manage-admins" class="view">
    <div id="panel">
        <h2>Manage Admins</h2>
        <!--
        Hello, curious explorer! If you are wondering, yes, we were planning to add a search functionality
        but time constraints led us to move this feature into the future. Thank you for bearing with us!
        <div id="search">
            <div id="search-form" class="pure-g">
                <form class="pure-form">
                    <input type="text" placeholder="Search for admin (by username)">
                    <button type="submit" class="pure-button pure-button-primary">🔍</button>
                </form>
            </div>
        </div>
        -->
        <div class="view-message"></div>
        <div id="actions">
            <button id="add-new-admin" class="pure-button pure-button-primary">➕ Add new admin</button>
        </div>
        <div id="add-admin-panel">
            <span id="add-admin-panel-close-button" class="panel-close-button">&times;</span>
            <h2>Add new admin</h2>
            <p>All fields are required.</p>
            <div id="add-admin-form">
                <form method="POST" class="pure-form pure-form-aligned">
                    <fieldset>
                        <div class="pure-control-group">
                            <label for="">ID Number</label>
                            <input id="id_number" type="text" placeholder="ID Number" required>
                            <span class="pure-form-message-inline">Should be of the form 12-34-569.</span>
                        </div>
                        <div class="pure-control-group">
                            <label for="">Username</label>
                            <input id="username" type="text" placeholder="Username" required>
                            <span class="pure-form-message-inline">Alphanumeric characters only.</span>
                        </div>
                        <div class="pure-control-group">
                            <label for="">Password</label>
                            <input id="password" type="password" placeholder="Password" required>
                            <span class="pure-form-message-inline"><span id="show-password" >👁</span> (Hover over eye to show password)</span>
                        </div>
                        <div class="pure-control-group">
                            <label for="">First Name</label>
                            <input id="first_name" type="text" placeholder="First Name" required>
                        </div>
                        <div class="pure-control-group">
                            <label for="">Middle Name</label>
                            <input id="middle_name" type="text" placeholder="Middle Name" required>
                        </div>
                        <div class="pure-control-group">
                            <label for="">Last Name</label>
                            <input id="last_name" type="text" placeholder="Last Name" required>
                        </div>
                        <div class="pure-control-group">
                            <label for="">Birthday</label>
                            <input id="create-admin-birth_date" type="text" placeholder="November 15, 1935" required>
                            <span class="pure-form-message-inline">Click text field to select date.</span>
                        </div>
                        <div class="pure-controls">
                            <button id="create-admin-button" type="submit" class="pure-button pure-button-green">Create new admin</button>
                        </div>
                    </fieldset>
                </form>
                <div class="tip">
                    <p><b>Tip!</b> Clicking <span class="primary-button-replica">➕ <b>Add new admin</b></span> again closes this panel.</p>
                </div>
            </div>
        </div>
        <div id="results">
            <div id="results-loading">
                <img src="assets/img/icons/loading-small.svg">
                <p>Getting admin information...</p>
            </div>
        </div>
    </div>
</div>