<div id="sidebar" class="pure-u-7-24">
    <div id="title">
        <h1>Pomoc</h1>
        <h2>The PSHS-EVC Grading and Attendance System</h2>
    </div>
    <div id="navigation">
        <ul>
            <li id="profile">Profile</li>
            <li id="manage-subjects">Manage Subjects</li>
            <li id="manage-classes">Manage Classes</li>
            <li id="manage-batches">Manage Batches</li>
            <li id="manage-sections">Manage Sections</li>
            <li id="users-dropdownabble">Manage Users<span class="push-rightmost">▼</span></li>
            <div id="users-dropdown">
                <li id="manage-admins">Manage Admins</li>
                <li id="manage-teachers">Manage Teachers</li>
                <li id="manage-students">Manage Students</li>
            </div>
            <li id="logout-button">Logout</li>
        </ul>
    </div>
    <div id="quote">
        ~o~
        <blockquote>
            You know, rewarding us with $omething wouldn't hurt.
            <br><br>-Shawarma Team
        </blockquote>
        ~o~
    </div>
    <div id="information">
        <footer>
            Copyright &copy; Philippine Science High School - Eastern Visayas Campus.<br><br>Developed by Shawarma Team. You may contact us through <a href="https://twitter.com/seanballais" target="_blank">@seanballais</a>, <a href="https://twitter.com/dejesus_610" target="_blank">@dejesus_610</a>, <a href="https://twitter.com/pulmaats" target="_blank">@pulmaats</a>.
        </footer>
    </div>
</div>