@keyframes cssBGGradientSlide {
    0%, 100% {
        transform: none;
    }
    50% {
        transform: translateY(-90vh);
    }
}

@keyframes cssBGImageSlide {
    0%, 100% {
        transform: none;
    }
    50% {
        transform: scale(1.5);
    }
}

@keyframes cssBGImageSkewedSlide {
    0%, 100% {
        transform: skewX(20deg);
    }
    50% {
        transform: translateY(-10vh) skewX(20deg);
    }
}

#content-layer {
    background-size: cover;

    min-height: 100%;
    overflow: hidden;

    position: relative;
}


#content-layer::before {
    background-image: linear-gradient(45deg, rgba(0, 136, 173, 0.85) 3%, rgba(45, 173, 124, 0.85) 72%);
    background-size: 100%;

    position: absolute;
    top: 0;
    left: 0;
    height: 200%;
    width: 200%;

    display: block;
    content: '';
    overflow: hidden;

    animation: cssBGGradientSlide 60s infinite;
    will-change: transform;

    z-index: -1;
}

#content-layer::after {
    background-image: url("../img/pisay.jpg");
    background-size: 100%;

    position: absolute;
    top: 0;
    left: 0;
    height: 200%;
    width: 200%;

    display: block;
    content: '';
    overflow: hidden;

    animation: cssBGImageSlide 240s infinite;
    will-change: transform;

    z-index: -2;
}

#content-layer #title-block {
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1;
}

#content-layer #title-block #title-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 5%;
}

#content-layer #title-block #title-content h1 {
    font-family: "Bebas Neue Bold", Helvetica Neue, sans-serif;
    font-size: 12em;
    margin: 0;
}

#content-layer #title-block #title-content h2 {
    font-family: "Source Sans Pro Extra Light", Helvetica Neue, sans-serif;
    font-size: 2em;
    font-weight: 400;
    margin: 0;
}

#content-layer #login-block {
    transform: skewX(-20deg);
        -webkit-transform: skewX(-20deg);
        -moz-transform: skewX(-20deg);
    overflow: hidden;

    position: relative;

    z-index: 1;
}

#content-layer #login-block::before {
    content: "";
    background: linear-gradient(45deg, rgba(0, 166, 173, 0.85) 3%, rgba(45, 173, 124, 0.85) 72%),
                url("../img/bg-front.jpg") no-repeat;

    position: absolute;
    width: 1000%;
    height: 1000%;
    transform: skewX(20deg);
        -webkit-transform: skewX(20deg);
        -moz-transform: skewX(20deg);
}

#content-layer #login-block #login-block-content {
    display: -moz-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform: skewX(20deg);
        -webkit-transform: skewX(20deg);
        -moz-transform: skewX(20deg);
    padding: 5%;
}

#content-layer #login-block #login-block-content img#logo {
    border-radius: 100%;
}

#content-layer #login-block #login-block-content h1 {
    font-family: "Source Sans Pro Extra Light", Helvetica Neue, sans-serif;
    font-weight: 400;

    color: white;
}

#content-layer #login-block #login-block-content form {
    font-family: "Source Sans Pro Extra Light", Helvetica Neue, sans-serif;
    font-weight: 400;

    display: -moz-box;
    display: flex;
    align-items: center;
    max-width: 50%;
}

#content-layer #login-block #login-block-content form fieldset label {
    font-size: 6em;
    margin-bottom: 0;
}

#content-layer #login-block #login-block-content form fieldset label#description {
    font-size: 72px;
    font-weight: 500;
    color: #CACACA;
}

#content-layer #login-block #login-block-content form fieldset input {
    font-size: 1.25em;
}

#content-layer #login-block #login-block-content form fieldset input#username {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: 1px solid #9c9c9c;
    border-left: 1px solid #9c9c9c;
    border-right: 1px solid #9c9c9c;
}

#content-layer #login-block #login-block-content form fieldset input#password {
    border-top: none;
    border-bottom: none;
    border-left: 1px solid #9c9c9c;
    border-right: 1px solid #9c9c9c;
}

#content-layer #login-block #login-block-content form fieldset input#submit {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #007EAE;
    background-color: #007EAE;
    color: white;

    transition: background-color 0.25s ease-out;
}

#content-layer #login-block #login-block-content form fieldset input#submit:hover {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #00a3e1;
    background-color: #00a3e1;
    color: white;
}

#content-layer #login-block #login-block-content div#login-message {
    background-color: #d92321;
    color: white;

    font-size: 1.25em;
    text-align: center;

    display: none;
    border-radius: 10px;
    margin-top: 5%;
    padding: 3%;
}