@font-face {
    font-family: "Bebas Neue Regular";
    src: url("../fonts/bebas-neue/regular.ttf");
}

@font-face {
    font-family: "Bebas Neue Bold";
    src: url("../fonts/bebas-neue/bold.ttf");
}

@font-face {
    font-family: "Bebas Neue Light";
    src: url("../fonts/bebas-neue/light.ttf");
}

@font-face {
    font-family: "Bebas Neue Thin";
    src: url("../fonts/bebas-neue/thin.ttf");
}

@font-face {
    font-family: "Source Sans Pro Regular";
    src: url("../fonts/source-sans-pro/regular.otf");
}

@font-face {
    font-family: "Source Sans Pro Light";
    src: url("../fonts/source-sans-pro/light.otf");
}

@font-face {
    font-family: "Source Sans Pro Extra Light";
    src: url("../fonts/source-sans-pro/extra-light.otf");
}

@font-face {
    font-family: "Droid Serif Regular";
    src: url("../fonts/droid-serif/regular.ttf");
}