html, body {
    height: 100%;
    margin: 0;
}

*.left {
    text-align: left;
}

*.right {
    text-align: right;
}

*.float-left {
    float: left;
}

*.float-right {
    float: right;
}

button.pure-button {
    border-radius: 4px;

    transition: all 0.2s ease-out;
}

button.pure-button-default:hover {
    background: #cccccc none;
}

button.pure-button-primary:hover {
    background: #005cb3 none;
}

.view-message {
    background-color: #2F2F2F;
    color: white;

    font-size: 1em;
    text-align: center;

    display: none;
    border-radius: 5px;
    padding: 1.5%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
}