html, body {
    height: 100%;
    margin: 0;
}

*.left {
    text-align: left;
}

*.right {
    text-align: right;
}

*.float-left {
    float: left;
}

*.float-right {
    float: right;
}

button.pure-button {
    border-radius: 4px;

    transition: all 0.2s ease-out;
}

button.pure-button-green {
    background: rgb(42, 163, 159);
    color: white;
}

button.pure-button-green:hover {
    background: rgb(27, 107, 103);
}

button.pure-button-default:hover {
    background: #cccccc none;
}

button.pure-button-primary:hover {
    background: #005cb3 none;
}

.view-message {
    background-color: #2F2F2F;
    color: white;

    font-size: 1em;
    text-align: center;

    display: none;
    border-radius: 5px;
    padding: 1.5%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
}

span.primary-button-replica {
    background-color: #0078e7;
    color: white;

    border-radius: 4px;
    padding: 1%;
}

span.panel-close-button {
    font-family: "Source Sans Pro Extra Light", Helvetica Neue, sans-serif;
    font-size: 1.5em;
    font-weight: bold;

    background-color: #aaaaaa;
    color: white;
    float: right;

    display: inline-block;
    padding: 4px 13px;
    text-align: center;

    transition: all 0.2s ease-out;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

span.panel-close-button:hover {
    background-color: #7b7b7b;
}

div.tip {
    margin-top: 2%;
    margin-bottom: 2%;
}