.push-rightmost {
    float: right;
}

#content-layer {
    min-height: 100%;
}

#content-layer #sidebar {
    background-color: #0D2633;
    box-shadow: inset 0 0 25px 15px #0c1e2a;
    color: white;

    overflow: hidden;
}

#content-layer #sidebar #title {
    text-align: center;

    padding: 5%;
}

#content-layer #sidebar #title h1 {
    font-family: "Bebas Neue Bold", Helvetica Neue, sans-serif;
    font-size: 5em;
    margin: 0;
}

#content-layer #sidebar #title h2 {
    font-family: "Source Sans Pro Extra Light", Helvetica Neue, sans-serif;
    font-size: 1em;
    font-weight: 400;
    margin: 0;
}

#content-layer #sidebar #quote {
    font-family: "Droid Serif Regular", Helvetica Neue, serif;
    text-align: center;
}

#content-layer #sidebar #navigation ul {
    font-family: "Source Sans Pro Light", Helvetica Neue, sans-serif;
    font-size: 1.25em;

    box-shadow: 0 0 5px 5px #0c1e2a;

    list-style: none;
    padding: 0;
}

#content-layer #sidebar #navigation ul li {
    background-color: #193a53;

    transition: all 0.2s ease-out;
    padding: 5%;

    user-select: none;
}

#content-layer #sidebar #navigation ul div#users-dropdown {
    display: none;
}

#content-layer #sidebar #navigation ul div#users-dropdown li {
    background-color: #102a3a;

    padding-left: 10%;

    user-select: none;
}

#content-layer #sidebar #navigation ul div#users-dropdown li:hover {
    background-color: #122134;
}

#content-layer #sidebar #navigation ul div#users-dropdown li:active {
    background-color: #15253a;
}

#content-layer #sidebar #navigation ul li:hover {
    background-color: #1b435e;
    cursor: pointer;
}

#content-layer #sidebar #navigation ul li:active {
    background-color: #173249;
    cursor: pointer;
}

#content-layer #sidebar #information footer {
    font-family: "Source Sans Pro Light", Helvetica Neue, sans-serif;
    font-size: 1em;

    text-align: center;
    padding: 5%;
}

#content-layer #sidebar #information footer a {
    color: #37c1ff;

    transition: all 0.5s ease-out;
    text-decoration: none;
}

#content-layer #sidebar #information footer a:hover {
    color: #70d8ff;
}

#content-layer #sidebar #information footer a:active {
    color: #4451ff;
}

#content-layer #main-dashboard h1 {
    font-family: "Bebas Neue Bold", Helvetica Neue, sans-serif;
    font-size: 6em;
    color: #2b2b2b;
    margin: 0;
}

#content-layer #main-dashboard #profile #header {
    background:
            linear-gradient(45deg, rgba(30, 87, 153, 0.85) 3%, rgba(45, 173, 124, 0.85) 72%),
            url("../img/pisay.jpg") no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 5% 5% 1% 5%;
}

#content-layer #main-dashboard #profile #header img#profile-pic {
    border-radius: 100%;
}

#content-layer #main-dashboard #profile #header h3 {
    font-family: "Source Sans Pro Light", Helvetica Neue, sans-serif;
    font-size: 1.75em;

    color: white;
    margin: 1% 0 0 0;
}

#content-layer #main-dashboard #profile #header h2 {
    font-family: "Source Sans Pro Extra Light", Helvetica Neue, sans-serif;
    font-size: 1.5em;
    font-weight: 400;

    color: white;
    margin: 0 0 1% 0;
}

#content-layer #main-dashboard #profile #header p {
    font-family: "Source Sans Pro Extra Light", Helvetica Neue, sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    text-align: center;
    color: white;
}

#content-layer #main-dashboard #profile #header p span {
    display: inline;
}

#content-layer #main-dashboard #profile #header p span#age-span {
    margin-right: 10%;
}

#content-layer #main-dashboard #profile #information {
    margin: 3% 20% 1% 20%;
    padding: 1.5% 3% 3% 3%;

    background-color: #EFEFEF;
    border-radius: 25px;
}

#content-layer #main-dashboard #profile #information h2 {
    font-family: "Source Sans Pro Light", Helvetica Neue, sans-serif;
    font-size: 1.5em;

    margin: 0;
}

#content-layer #main-dashboard #profile #information p {
    font-family: "Source Sans Pro Extra Light", Helvetica Neue, sans-serif;
    font-size: 1em;
    font-weight: 400;

    margin: 0;
}

#content-layer #main-dashboard #profile #information div#info-list p {
    font-size: 1.25em;
    margin: 0;
    padding: 3%;
}

#content-layer #main-dashboard #profile #information div#info-list p span.float-left {
    font-weight: bold;
}

#content-layer #main-dashboard #profile #information-button {
    padding-left: 20%;
    padding-right: 20%;
}

#content-layer #main-dashboard #profile #information-button button#profile-save-button {
    font-family: "Source Sans Pro Extra Light", Helvetica Neue, sans-serif;
    font-size: 1em;
    font-weight: bold;

    border-radius: 5px;

    float: right;
}

#content-layer #main-dashboard #profile div#profile-save-message {
    background-color: #2F2F2F;
    color: white;

    font-size: 1em;
    text-align: center;

    display: none;
    border-radius: 5px;
    padding: 1.5%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
}